
.vs/ExoftCamp/v16/.suo
.vs/ExoftCamp/v16/.suo
bin/Debug/net5.0/ExoftCamp.dll
bin/Debug/net5.0/ExoftCamp.pdb
obj/Debug/net5.0/ExoftCamp.csproj.AssemblyReference.cache
obj/Debug/net5.0/ExoftCamp.dll
obj/Debug/net5.0/ExoftCamp.pdb
